<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.roothk.servicecalculation.Service.Dao.OrderCalculationMapper">
  <resultMap id="BaseResultMap" type="top.roothk.servicecalculation.Service.Model.OrderCalculation">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="COMMODITY_NAME" jdbcType="VARCHAR" property="commodityName" />
    <result column="COMMODITY_MODEL" jdbcType="VARCHAR" property="commodityModel" />
    <result column="COMMODITY_NUM" jdbcType="VARCHAR" property="commodityNum" />
    <result column="COMMODITY_PRICE" jdbcType="DOUBLE" property="commodityPrice" />
    <result column="COUPON_TYPE_ONE" jdbcType="VARCHAR" property="couponTypeOne" />
    <result column="COUPON_TYPE_TWO" jdbcType="VARCHAR" property="couponTypeTwo" />
    <result column="COUPON_TYPE_THR" jdbcType="VARCHAR" property="couponTypeThr" />
    <result column="COUPON_NUM" jdbcType="VARCHAR" property="couponNum" />
    <result column="COUPON_CALCULATION" jdbcType="VARCHAR" property="couponCalculation" />
    <result column="CALCULATION_TIME" jdbcType="TIMESTAMP" property="calculationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COMMODITY_NAME, COMMODITY_MODEL, COMMODITY_NUM, COMMODITY_PRICE, COUPON_TYPE_ONE, 
    COUPON_TYPE_TWO, COUPON_TYPE_THR, COUPON_NUM, COUPON_CALCULATION, CALCULATION_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_calculation
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_calculation
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.roothk.servicecalculation.Service.Model.OrderCalculation">
    insert into order_calculation (ID, COMMODITY_NAME, COMMODITY_MODEL, 
      COMMODITY_NUM, COMMODITY_PRICE, COUPON_TYPE_ONE, 
      COUPON_TYPE_TWO, COUPON_TYPE_THR, COUPON_NUM, 
      COUPON_CALCULATION, CALCULATION_TIME)
    values (#{id,jdbcType=BIGINT}, #{commodityName,jdbcType=VARCHAR}, #{commodityModel,jdbcType=VARCHAR}, 
      #{commodityNum,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=DOUBLE}, #{couponTypeOne,jdbcType=VARCHAR}, 
      #{couponTypeTwo,jdbcType=VARCHAR}, #{couponTypeThr,jdbcType=VARCHAR}, #{couponNum,jdbcType=VARCHAR}, 
      #{couponCalculation,jdbcType=VARCHAR}, #{calculationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.roothk.servicecalculation.Service.Model.OrderCalculation">
    insert into order_calculation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="commodityName != null">
        COMMODITY_NAME,
      </if>
      <if test="commodityModel != null">
        COMMODITY_MODEL,
      </if>
      <if test="commodityNum != null">
        COMMODITY_NUM,
      </if>
      <if test="commodityPrice != null">
        COMMODITY_PRICE,
      </if>
      <if test="couponTypeOne != null">
        COUPON_TYPE_ONE,
      </if>
      <if test="couponTypeTwo != null">
        COUPON_TYPE_TWO,
      </if>
      <if test="couponTypeThr != null">
        COUPON_TYPE_THR,
      </if>
      <if test="couponNum != null">
        COUPON_NUM,
      </if>
      <if test="couponCalculation != null">
        COUPON_CALCULATION,
      </if>
      <if test="calculationTime != null">
        CALCULATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityModel != null">
        #{commodityModel,jdbcType=VARCHAR},
      </if>
      <if test="commodityNum != null">
        #{commodityNum,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=DOUBLE},
      </if>
      <if test="couponTypeOne != null">
        #{couponTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="couponTypeTwo != null">
        #{couponTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="couponTypeThr != null">
        #{couponTypeThr,jdbcType=VARCHAR},
      </if>
      <if test="couponNum != null">
        #{couponNum,jdbcType=VARCHAR},
      </if>
      <if test="couponCalculation != null">
        #{couponCalculation,jdbcType=VARCHAR},
      </if>
      <if test="calculationTime != null">
        #{calculationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.roothk.servicecalculation.Service.Model.OrderCalculation">
    update order_calculation
    <set>
      <if test="commodityName != null">
        COMMODITY_NAME = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityModel != null">
        COMMODITY_MODEL = #{commodityModel,jdbcType=VARCHAR},
      </if>
      <if test="commodityNum != null">
        COMMODITY_NUM = #{commodityNum,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        COMMODITY_PRICE = #{commodityPrice,jdbcType=DOUBLE},
      </if>
      <if test="couponTypeOne != null">
        COUPON_TYPE_ONE = #{couponTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="couponTypeTwo != null">
        COUPON_TYPE_TWO = #{couponTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="couponTypeThr != null">
        COUPON_TYPE_THR = #{couponTypeThr,jdbcType=VARCHAR},
      </if>
      <if test="couponNum != null">
        COUPON_NUM = #{couponNum,jdbcType=VARCHAR},
      </if>
      <if test="couponCalculation != null">
        COUPON_CALCULATION = #{couponCalculation,jdbcType=VARCHAR},
      </if>
      <if test="calculationTime != null">
        CALCULATION_TIME = #{calculationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.roothk.servicecalculation.Service.Model.OrderCalculation">
    update order_calculation
    set COMMODITY_NAME = #{commodityName,jdbcType=VARCHAR},
      COMMODITY_MODEL = #{commodityModel,jdbcType=VARCHAR},
      COMMODITY_NUM = #{commodityNum,jdbcType=VARCHAR},
      COMMODITY_PRICE = #{commodityPrice,jdbcType=DOUBLE},
      COUPON_TYPE_ONE = #{couponTypeOne,jdbcType=VARCHAR},
      COUPON_TYPE_TWO = #{couponTypeTwo,jdbcType=VARCHAR},
      COUPON_TYPE_THR = #{couponTypeThr,jdbcType=VARCHAR},
      COUPON_NUM = #{couponNum,jdbcType=VARCHAR},
      COUPON_CALCULATION = #{couponCalculation,jdbcType=VARCHAR},
      CALCULATION_TIME = #{calculationTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>